.comments-list {
  @include comment-block-defaults;
  background-color: white;
}

.comment-counter {
  font-weight: bold;
}

.comment {
  @include comment-block-defaults;
  border-style: dashed;
}

.comment-info {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  background-color: $nice-gray;
  padding: $base-space;
  margin-bottom: $base-space;
}

.commentator-name {
  font-weight: bold;
  margin-right: $base-space;
}

.comment-timestamp {
  font-style: italic;
}
