.delete-tag-button {
  @include button-defaults;
  background-color: red;
  border-color: red;
  font-size: $font-size * 0.5;
  border-radius: 8px;
}

.delete-tag-button:hover {
  @include button-defaults-hover;
  border-color: red;
}
