.article-form-item {
  margin-bottom: $base-space;
}

.article-form-item-title {
  font-size: $font-size * 0.9;
  font-style: italic;
}

.article-form-item-field {
  @include set-form-width;
  background-color: $nice-yellow;
}

.article-form-submit-button {
  @include button-defaults;
  width: 10%;
  border-radius: 8px;
}

.article-form-submit-button:hover {
  @include button-defaults-hover;
}
