.article-item:before {
  content: ">";
}

.link-to-article {
  @include button-defaults;

  background-color: black;
  color: yellow;
  border-color: yellow;
}

.link-to-article:hover {
  @include button-defaults-hover;

  background-color: yellow;
  color: black;
  border-color: black;
}
