.articles__item {
  margin: 0.25rem 0.25rem;
}

.button--article-link {
  background-color: $nice-yellow;
  color: black;
  border-style: dashed;
  border-color: black;
  border-radius: 0;
}

.button--article-link:hover {
  background-color: rgb(252, 252, 79);
  border-style: solid;
}
