<div class = 'comment'>

  <p class = 'comment__title'>
    <span class = 'commentator-name'><%= comment.author_name %></span>
    posted <%= distance_of_time_in_words(comment.article.created_at,
                                         comment.created_at) %> later
  </p>

  <p class = 'comment__content'><%= comment.body %></p>

</div>
