<div class = 'comment'>

  <div class = 'comment-info'>
    <span class = 'commentator-name'>
      <%= comment.author_name %>
    </span>

    <span class = 'comment-timestamp'>
      posted <%= distance_of_time_in_words(comment.article.created_at,
                                          comment.created_at) %> later
    </span>
  </div>

  <p class = 'comment-body'><%= comment.body %></p>

</div>
