<% provide(:page_title, 'Articles') %>

<%# List of all articles %>
<ul>
  <% @articles.each do |article| %>
    <li>

      <%= link_to article.title, article_path(article) %>

      <%# Display tags if they exist %>
      <%= render partial: 'shared/tags_display',
                 locals:  { tags_to_display: article.tags,
                            wrap: 'tags:' } %>

    </li>
  <% end %>
</ul>
