<% provide(:page_title, 'Articles') %>

<%# List of all articles %>
<ul class = "articles-list">
  <% @articles.each do |article| %>
    <li class = "article-item">

      <%= link_to article.title, article_path(article),
                  class: 'link-to-article' %>

      <%# Display tags if they exist %>
      <%= render partial: 'shared/tags_display',
                 locals:  { tags_to_display: article.tags,
                            prefix: 'tags:' } %>
    </li>
  <% end %>
</ul>
