<h1>All articles</h1>

<%# List of all articles %>
<ul>
  <% @articles.each do |article| %>
    <li>

      <%= link_to article.title, article_path(article) %>

      <%# Tags if exist %>
      <% if article.tags.size.positive? %>
        [tags:
          <% article.tags.each do |tag| %>
            <%= link_to " #{tag.name}", tag_path(tag) %>
          <% end %>
        ]
      <% end %>

    </li>
  <% end %>
</ul>

<%# Create new article %>
<%= link_to "Create a New Article", new_article_path %>
