@import './helpers';

.flash-msg {
  border-width: 2px;
  border-style: dashed;
  border-color: yellow;
  background-color: black;
  color: yellow;
  font-size: $font-size * 0.6;
  margin-top: $base-space;

}
