<p>
  <span><%= link_to 'Articles', articles_path %></span>
  <span><%= link_to 'Tags',     tags_path     %></span>

  <% if logged_in? %>
    <span><%= link_to 'Authors', authors_path %></span>
  <% end %>
</p>
