footer {
  position: relative;
}

.active-session-marker {
  display: inline-block;
  font-style: italic;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.button--auth {
  float: right;
}

.active-session-marker, .button--auth {
  font-size: 0.85rem;
}
