<% provide(:page_title, 'All tags') %>

<%# Displays all tags %>
<ul>
  <% @tags.each do |tag| %>
    <li>

      <%# Botton to delete tag %>
      <% if logged_in? %>
        <%= link_to 'delete', tag_path(tag),
                    method: :delete,
                    class: 'delete-tag-button' %>
      <% end %>

      <%# Tag itself %>
      <%= link_to tag.name, tag_path(tag), class: 'link-to-tag' %>

      <%# Displays amount of articles per tag %>
      <span class = 'tags-prefix'>
        (<%= pluralize(tag.articles.size, 'article') %>)
      </span>

    </li>
  <% end %>
</ul>
