<h1>All tags</h1>

<%# Displays all tags %>
<ul>
  <% @tags.each do |tag| %>
    <li>

      <%# Botton to delete tag %>
      <% if logged_in? %>
        <%= link_to '[delete]', tag_path(tag),
                    method: :delete %>
      <% end %>

      <%# Tag itself %>
      <%= link_to tag.name, tag_path(tag) %>

      <%# Displays amount of articles per tag %>
      <span>
        (<%= pluralize(tag.articles.size, 'article') %>)
      </span>

    </li>
  <% end %>
</ul>
