<% provide(:page_title, 'All tags') %>

<%# Displays all tags %>
<ul class = 'all-tags'>
  <% @tags.each do |tag| %>
    <li class = 'all-tags__item'>

      <%# Button to delete tag %>
      <% if logged_in? %>
        <%= link_to 'delete', tag_path(tag),
                    method: :delete,
                    class: 'button button--delete-tag' %>
      <% end %>

      <%# Tag itself %>
      <%= link_to tag.name, tag_path(tag),
          class: 'button button--link-to-tag' %>

      <%# Displays amount of articles per tag %>
      <p class = 'tags-prefix'>
        (<%= pluralize(tag.articles.size, 'article') %>)
      </p>

    </li>
  <% end %>
</ul>
