<% provide(:page_title, "Articles tagged with ##{@tag.name}") %>

<%# List of tagged articles %>
<ul class = 'articles'>
  <% @tag.articles.each do |article| %>
    <li class = 'articles__item'>

      <%= link_to article.title, article_path(article),
          class: 'button button--article-link' %>

      <%# Display additional tags if they exist %>
      <%= render partial: 'shared/article_tags',
                  locals:  { tags_to_display: article.tags - [@tag],
                             prefix: 'additional tags:' } %>

    </li>
  <% end %>
</ul>
