$base-space: 1%;
$font-size: 100%;

// #index

.articles-list {
  list-style-type: none;
  font-size: $font-size * 0.85;
  margin: 0;
  padding: 0;
}

.article-item:before {
  content: ">";
}

// #show

.article-box {
  border-style: dotted;
  border-width: 1px;
  padding: $base-space;
}

.article-body {
  display: block;
  background-color: #fcfdbd;
  border-style: solid;
  border-width: 1px;
  font-size: $font-size * 0.8;
  padding: 0;
  margin: 0;
}

.timestamp {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  font-size: $font-size * 0.7;
  font-style: italic;
  color: #686868;

  margin: $base-space;
}

.tags-under-article {
  text-align: center;
}

.article-buttons-block {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}

.article-button {
  font-size: $font-size * 0.7;
  width: 40%;
  border-radius: 8px;
  padding: 1px 3px;
  margin-top: $base-space;
  text-decoration: none;
  color: white;
  border-width: 1px;
  border-style: solid;
}

.edit-article-button {
  border-color: #1c87c9;
  background-color: #1c87c9;
}

.delete-article-button {
  border-color: #ff0000;
  background-color: #ff0000;
}

.article-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
