@import './helpers';

.login-form-item-title {
  font-size: $font-size * 0.9;
  font-style: italic;
}

.login-form-item-field {
  @include set-form-width;
  margin-bottom: $base-space;
}

.login-button {
  @include button-defaults;
  border-radius: 8px;
  width: 10%;
}

.login-button:hover {
  @include button-defaults-hover;
}
