a.button {
  border-color: #1c87c9;
  border-width: 1px;
  border-style: solid;
  background-color: #1c87c9;
  color: white;
  text-decoration: none;
}

a.button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
