@import './helpers';

@import 'layout/left_nav_block';
@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: $base-space;
}

.left-nav-block {
  flex-grow: 1;
  text-align: center;
  margin: $base-space;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  margin: $base-space;
  width: 70%;

  .content-block {
    flex-grow: 1;
    @include main-border-defaults;
  }
}
