<% current_path = request.env['PATH_INFO'] %>

<ul class = "sections-list">

  <%# Adds id to a link %>
  <%#   A link with id shall be highlighted differently %>
  <% if current_path == articles_path %>
    <li><%= link_to 'Articles', articles_path, class: :section,
                                               id: 'current-section' %></li>
  <% else %>
    <li><%= link_to 'Articles', articles_path, class: :section %></li>
  <% end %>


  <% if current_path == tags_path %>
    <li><%= link_to 'Tags', tags_path, class: :section,
                                               id: 'current-section' %></li>
  <% else %>
    <li><%= link_to 'Tags', tags_path, class: :section %></li>
  <% end %>
</ul>
