<% if logged_in? %>
  <p class = 'active-session-marker'>
    <%= "Logged in as #{current_user.username}" %>
  </p>
  <%= link_to 'logout', logout_path, class: 'button button--auth' %>

<% else %>
  <%= link_to 'login', login_path, class: 'button button--auth' %>
<% end %>

<% unless Author.exists? %>
  <%= link_to 'registration', new_author_path, class: 'button button--auth' %>
<% end %>
